
:host {
  font-family: sans-serif;
  border: 2px solid #3d013b;
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}

:host(.error) {
  border-color: #ff8c02;
}

form input {
  font: inherit;
  color: #3d013b;
  padding: 0.1rem 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #3d013b;
  background: #3d013b;
  color: #FFFFFF;
  cursor: pointer;
}

form button:disabled,
form button:disabled:hover {
  background: lightslategray;
  border-color: lightslategray;
  cursor: not-allowed;
}

form button:hover,
form button:active {
  background: #750175;
  border-color: #750175;
}




